<div class="container">

    <div class="row">
        <div class="col-sm-4 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-content">
                        <div>
                            <h3 class="text-center">Login</h3>
                        </div>
                        <form (ngsubmit)="submitForm(user)">
                            <div class="form-group">
                                <div>
                                    <label for="">Email</label>
                                    <input type="text" class="form-control mb-3" name="email" [(ngModel)]="user.email"
                                        placeholder="Email">
                                </div>
                                <div>
                                    <label for="">Password</label>
                                    <input type="password" class="form-control mb-3" name="password"
                                        [(ngModel)]="user.password" placeholder="password">
                                </div>
                                <div class="text-center">
                                    <input type="submit" value="Login" class="btn btn-primary"
                                        (click)="submitForm(user)">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>